<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"

       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/aop
           https://www.springframework.org/schema/aop/spring-aop.xsd">



    <!-- Repository -->
    <bean id="bookRepository"
          class="com.library.repository.BookRepository"/>

    <!-- Service -->
    <bean id="bookService"
          class="com.library.service.BookService">

        <property name="repository" ref="bookRepository"/>

    </bean>

    <!-- Aspect -->
    <bean id="loggingAspect"
          class="com.library.aspect.LoggingAspect"/>

    <!-- Enable AOP -->
    <aop:aspectj-autoproxy/>

    <!-- Configure Aspect -->
    <aop:config>

        <aop:aspect ref="loggingAspect">

            <aop:pointcut
                    id="serviceMethods"
                    expression="execution(* com.library.service.*.*(..))"/>

            <aop:before
                    pointcut-ref="serviceMethods"
                    method="beforeAdvice"/>

            <aop:after
                    pointcut-ref="serviceMethods"
                    method="afterAdvice"/>

        </aop:aspect>

    </aop:config>

</beans>